
.header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:100px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  background-color: white;
  z-index: 1000;
  }
  .left{
    width:300px;
    margin-left:0px;
    display:flex;
    align-items:center;
  }
  .three-line{
    border:none;
    height:40px;
    width:40px;
  }
  .youtube-logo{
  height:50px;
  width:130px;
  margin-left:20px;
  }
  .middle{
    flex:1;
    display:flex;
    align-items:center;
  }
  .search{
    flex:1;
    height:42px;
    border-style:solid;
    border-width:1px;
    box-shadow:inset 1px 2px 5px rgba(0,0,0,0.15);
    font-family:Roboto,arial;
    font-size:25px;
  }
  .search-button{
  border:none;
  height:39px;
  width:39px;
  border-radius:50%;
  }
  .b1{
    margin-left:-1px;
    margin-right:20px;
    position:relative;
  }
  .serch{
    position:absolute;
    background-color:red;
    color:white;
    border:none;
    font-family:Roboto,arial;
    font-size:15px;
    bottom:-20px;
    opacity:0;
  }
  .b1:hover .serch{
    opacity:1;
  }
  
  .voice-search{
    border:none;
    height:40px;
    width:40px;
    
  }
  .right{
    width:250px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-left:50px;
  }
  .create{
    height:90px;
    width:90px;
  }
  .notification{
    height:50px;
    width:50px;
  }
  .profile-picture{
  border:none;
  height:50px;
  width:50px;
  border-radius:50%;  
  }
  /*the below css code is for Youtube side-section*/
  .side-bar{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:170px;
    display:flex;
    flex-direction:column;
    margin-top:100px;
    background-color:white;
}

.homef,.shortsf,.subscriptionf,.libraryf,.historyf,.your-videosf,.watch-laterf,.liked-videosf{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:20px;
    padding:4px 0px 4px 15px;
}
.home{
    height:20px;
    width:20px;
    margin-right:30px;
}
.shorts{
    height:20px;
    width:20px;
    margin-right:30px;
}
.subscription{
    height:20px;
    width:20px;
    margin-right:30px;  
}
.library{
    height:20px;
    width:20px;
    margin-right:30px;
}
.history{
    height:20px;
    width:20px;
    margin-right:30px;  
}
.your-videos{
    height:20px;
    width:20px;
    margin-right:30px;
}
.watch-later{
    height:20px;
    width:20px;
    margin-right:30px;  
}
.liked-videos{
    height:20px;
    width:20px;
    margin-right:30px;
}
.homef:hover,.shortsf:hover,.subscriptionf:hover,.libraryf:hover,.historyf:hover,.your-videosf:hover,.watch-laterf:hover,.liked-videosf:hover{
    background-color:lightgrey;
    border:none;
    border-radius:7px;
}
a{
    text-decoration:none;
}
.line-002,.line-003,.line-4,.line-5,.line-6,.line-7,.line-8{
    font-family:Roboto,arial;
    font-size:15px;
    color:black;
}
.line-001{
  font-family:Arial;
  font-size:16px;
  color:black;
}

/*.the below code is css for content of the youtube*/
.main-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  row-gap:25px;
  column-gap:25px;
  margin-top :170px;
  margin-left:200px;
}
@media (max-width:600px){
   .main-grid{
    grid-template-columns:1fr;
   } 
}
@media (min-width:601px) and (max-width:999px){
  .main-grid{
   grid-template-columns:1fr 1fr;
  } 
}
@media (min-width:1000px){
  .main-grid{
   grid-template-columns:1fr 1fr 1fr;
  }
}
  .ad-thumbnail img{
   height:205px;
   width:50px;
   border:none;
   border-radius:8px;
   width:100%;
  }
  .ad-profile-picture img{
   height:50px;
   width:50px;
   border:none;
   border-radius:50%;
  }
  .shopping-button button{
    background-color:rgba(202, 195, 195, 0.863);
    color:blue;
    font-family:arial;
    font-size:25px;
    padding-top:15px;
    padding-bottom:15px;
    width:100%;
    border:none;
    border-radius:15px;
    cursor:pointer;
    margin-top:20px;
  }

.thumbnail img{
  border:none;
  border-radius:8px;
  width:100%;
}
.container{
  display:grid;
  grid-template-columns:50px 1fr;
  margin-top:10px;
}
.profile-picture img{
  height:50px;
  width:50px;
  border:none;
  border-radius:50%;
}
.video-info{
  margin-left:10px;
}
.line-1{
font-family:arial;
font-size:20px;
color:black;
margin-top:10px;
margin-bottom:0;
}
.line-2,.line-3{
  font-family:arial;
  font-size:15px;
  margin-top:10px;
  margin-bottom:0;
  color:gray;
}
body{
  margin:0;
}

.thumbnail{
  position:relative;
}
.t-1,.t-2,.t-3,.t-4,.t-5,.t-6,.t-7,.t-8,.t-9,.t-10,.t-11,.t-12,.t-13,.t-14,.t-15,.t-16,.t-17,.t-18,.t-19,.t-20,.t-21,.t-22,.t-23,.t-24,.t-25,.t-26,.t-27,.t-28,.t-29{
  position:absolute;
  font-family:Roboto,arial;
  font-size:15px;
  color:white;
  background-color:black;
  bottom:7px;
  right:5px;
  border:none;
  border-radius:6px;

}
